h2
{
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
p
{
  color: #40514E;
  line-height: 2;
}
.top-container
{
  padding-top: 100px;
  background-color: #E4F9F5;
  margin: 0;
  position: relative;
}
h1
{
  font-size: 80px;
  margin-top: 50px;
  font-family: 'Pacifico', cursive;
  color: #66BFBF;
  line-height: 2;
}
h3
{
   color:  #11999E;
}
body
{
  margin: 0;
  text-align:center;
  font-family: 'Poppins', sans-serif;
}
.middle-container
{
  background-color: #F7F7F7;
  padding-bottom: 100px;
}
.bottom-container
{
  padding-top: 20px;
  background-color: #30E3CA;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.pro
{
  text-decoration: underline;
}
.bottom-cloud
{
  width:10%;
  position: absolute;
  left:20%;
}
.top-cloud
{
  width:10%;
  position:absolute;
  top:50px;
  right:20%;
}
.PFP
{
  height: 100px;
  width: 100px;
}
.footer-link{
  color:#11999E;
}
.skill-row
{
  margin:100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}
.coding-img
{
  width:20%;
  float: left;
  margin-right: 30px;
}
.gaming-img
{
  width: 20%;
  float: right;
  margin-left: 30px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
hr
{
  border-style: none;
  border-top-style: dotted;
  width:4%;
  border-color: #CDF0EA;
  border-width: 5px;
}
.copyright
{
  color: #EAF6F6;
  font-size: 1rem;
}
.footer-link
{
  margin: 20px;
  text-decoration: none;
}
.bottom-text
{
  margin-bottom: 50px;
}
.profile
{
  padding-top: 50px;
  padding-bottom: 20px;
}
